body {
  background: url(https://tinyurl.com/y4bprawr) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.game-square {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.game-square > div {
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  transition: 400ms;
}
.game-square > div > div {
  height: 50%;
  /* defulat square has a color */
}
.game-square > div > div:first-child {
  background-color: gray;
}
/* To get the square to slide up and reveal the color to
match we need a style: */
.flip > div {
  top: -100%;
}
.aqua {
  background-color: aqua;
}

.bisque {
  background-color: bisque;
}

.blue {
  background-color: blue;
}

.blueviolet {
  background-color: blueviolet;
}

.brown {
  background-color: brown;
}

.cadetblue {
  background-color: cadetblue;
}

.chartreuse {
  background-color: chartreuse;
}

.chocolate {
  background-color: chocolate;
}

.coral {
  background-color: coral;
}

.cornflowerblue {
  background-color: cornflowerblue;
}
#game {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  border-radius: 10px;
  margin: 4em auto;
}
#reset-button {
  margin-left: 32.5em;
  width: 5em;
  border-radius: 10px;
  background-color: cyan;
}
